{% extends 'base/base.html' %}

{% block page_content %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'web:producto_new' %}"><i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not producto %}
        <div class="alert alert-info">No hay registros de productos</div>
        {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <th>Id</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>SubCategoria</th>
                <th class="all">Acciones</th>
            </thead>
            <tbody>
                {% for item in producto %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado|yesno:'Activo,Inactivo' }}</td>
                        <td>{{ item.marca.descripcion}}</td>
                        <td>{{ item.categoria.descripcion }}</td>
                        <td>{{ item.subcategoria.descripcion }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('.table').DataTable();
    });
</script>
{% endblock js_page %}